.table-warapper {
  width: 90%;
  display: flex;
  justify-content: center;
}
table {
  display: block;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 48px;
  position: relative;
  overflow: auto;
  box-sizing: content-box;
}
thead tr th {
  border-bottom: solid 1px black;
}

th,
td {
  padding: 0.2em 1em;
  white-space: nowrap;
}

th.input:last-child,
td.input:last-child {
  padding-right: 2em;
  border-right: solid 1px black;
}

.btn {
  display: inline-block;
  text-decoration: none;
  background: none;
  border: solid 1px black;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 50%;
  text-align: center;
  transition: all 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

button.add-input-button {
  position: absolute;
  top: 32px;
}

.table-warapper {
  position: relative;
  padding: 32px 0;
}
